* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans", sans-serif;
  scrollbar-width: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: radial-gradient(circle farthest-side, rgba(3, 3, 249, 0.15), rgba(255, 255, 255, 0));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
    font-size: 40px;
    font-weight: lighter;
    color: black;
    text-align: center;
}

.chat-container {
  width: 70%;
  height: 70vh;
  background-color: white;
  color: black;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-direction: column;
}

.profile-image {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px 10px 0 0;
}

.message {
    margin-bottom: 15px;
    width: max-content;
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 15px;
    line-height: 1.5;
    display: flex;
    /* align-items: center; */
}

.user-message {
    background-color: black;
    color: white;
    margin-left: auto;
}

.bot-message {
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 30px;
}

.input-container {
  background-color: white;
  padding: 20px;
  display: flex;
  gap: 10px;
  border-radius: 0 0 20px 20px;
}

input {
  flex-grow: 1;
  padding: 12px 12px 12px 15px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5%;
  font-size: 15px;
  background-color: white;
}

input:focus {
  outline: none;
  border-color: black;
}

button {
  padding: 12px 25px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #6c757d;
  color: white;
}

.loading {
    font-size: 15px;
    color: black;
    margin: 10px 0;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .loading::after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    animation: loading-dots 1.5s infinite;
    margin-left: 5px;
    position: relative;
  }

  .box#graph {
    width: 95%;
    position: relative;
    height: 100% !important;
    padding: 20px;
}

#engagementChart {
    width: 100% !important;
    height: calc(100% - 50px) !important;
    background: none;
    position: relative;
    margin-top: 10px;
}

#top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: none;
}
  
  @keyframes loading-dots {
    0% {
      box-shadow: 0 0 black, 10px 0 black, 20px 0 black;
    }
    25% {
      box-shadow: 0 0 black, 10px 0 black, 20px 0 rgba(0, 0, 0, 0);
    }
    50% {
      box-shadow: 0 0 black, 10px 0 rgba(0, 0, 0, 0), 20px 0 rgba(0, 0, 0, 0);
    }
    75% {
      box-shadow: 0 0 black, 10px 0 black, 20px 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 black, 10px 0 black, 20px 0 black;
    }
  }
  